/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  color: #333;
}
h1 {
  color: #4a90e2;
}
